.footer-main {
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--futer-address-color);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
