.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: $raleway-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
