.logo {
  font-family: $raleway-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);
}
