.header-navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation-item {
  position: relative;

  color: var(--nav-item-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

.link.current::after {
  @media screen and (min-width: 768px) {
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
