.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.group {
  height: 100%;
  padding: 48px 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;

  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .mob-menu.is-hidden & {
    transform: translateX(100vw);
  }
}

.menu-close-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  border: none;
  background-color: #fff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    fill: #2196f3;
  }
}

.navigation-contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--nav-item-color);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-address-list {
  margin-top: auto;
}

.mob-address-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-address-list__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 64px;
  }
}

.mob-address-list__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-soc-list {
  display: inline-flex;
}

.mob-soc-list__item {
  position: relative;
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';
    width: 22px;
    height: 1px;

    background: rgba(33, 33, 33, 0.2);

    transform: rotate(90deg);
  }
}

.mob-soc-list_link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.no-scroll {
  overflow: hidden;
}
