.team {
  background-color: var(--team-section-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.team__container {
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.team__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-item-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-info__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-item-color);
}

.team-info__profession {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-info__list {
  display: flex;
  justify-content: center;
}

.team-info__item + .team-info__item {
  margin-left: 10px;
}

.team-info__link {
  width: 44px;
  height: 44px;
  background-color: var(--primery-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--svg-icon-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover,
  &:focus .team-info__icon {
    fill: var(--primery-white-color);
  }
}
