body {
  background-color: var(--primery-white-color);
  font-family: $roboto-font, Tahoma, sans-serif;
  color: var(--primery-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding-inline-start: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.photo {
  display: block;
}
