:root {
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --accent-color: #2196f3;
  --black-color: #000000;
  --hero-color: #2f303a;
  --nav-item-color: #212121;
  --futer-address-color: rgba(255, 255, 255, 0.6);
  --team-section-color: #f5f4fa;
  --hero-button-focus-color: #188ce8;
  --svg-icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$raleway-font: 'Raleway';
$roboto-font: 'Roboto';
